name: 抓取並上傳 RSS

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/*'
      - 'code/*'
      # - '*.rss'
      - '*'
      - '**'
  schedule:
    - cron: '*/5 * * * *'  # 每隔 5 分鐘運行一次
    - cron: '*/10 * * * *'  # 每隔 5 分鐘運行一次
    - cron: '*/15 * * * *'  # 每隔 5 分鐘運行一次
    - cron: '*/20 * * * *'  # 每隔 5 分鐘運行一次
    - cron: '*/25 * * * *'  # 每隔 5 分鐘運行一次
    - cron: '*/30 * * * *'  # 每隔 5 分鐘運行一次

# concurrency: 
  # group: ${{ github.workflow }}-${{ github.ref }}
  # cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: 檢出代碼
      uses: actions/checkout@v4

    # - name: Install weserv/images
      # run: |
        # for i in {1..10}; do docker run -d -p 8080:80 --shm-size=1gb --name=weserv ghcr.io/weserv/images:5.x && break; done

    - name: 檢出代碼 2
      run: |
        for i in {1..10}; do git pull && break; done

    - name: Install and configure Cloudflare WARP
      run: |
        for i in {1..10}; do curl -v https://1.1.1.1/cdn-cgi/trace && break; done
        for i in {1..10}; do curl https://pkg.cloudflareclient.com/pubkey.gpg | sudo gpg --dearmor -o /usr/share/keyrings/cloudflare-warp-archive-keyring.gpg && break; done
        for i in {1..10}; do echo "deb [arch=amd64 signed-by=/usr/share/keyrings/cloudflare-warp-archive-keyring.gpg] https://pkg.cloudflareclient.com/ $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/cloudflare-client.list && break; done
        for i in {1..10}; do sudo apt update -y && break; done
        for i in {1..10}; do sudo apt install -y cloudflare-warp && break; done
        for i in {1..10}; do warp-cli --accept-tos registration new && break; done
        for i in {1..10}; do warp-cli --accept-tos mode warp+doh && break; done
        for i in {1..10}; do warp-cli --accept-tos tunnel ip add 127.0.0.1 && break; done
        for i in {1..10}; do warp-cli --accept-tos tunnel host add localhost && break; done
        for i in {1..10}; do warp-cli --accept-tos connect && break; done
        for i in {1..10}; do curl -v https://1.1.1.1/cdn-cgi/trace && break; done

    - name: 檢出代碼 3
      run: |
        for i in {1..10}; do git pull && break; done

    - name: 安裝依賴
      run: |
        for i in {1..10}; do sudo apt update -y && break; done
        for i in {1..10}; do sudo apt install python3 python3-pip redis-server -y && break; done
        for i in {1..10}; do sudo python3 -m pip install --upgrade pip feedgen bs4 tqdm aiofiles requests_cache qh3 urllib3.future niquests niquests[speedups] niquests[socks] psutil redis redis[hiredis] && break; done
        for i in {1..10}; do sudo systemctl status redis && break; done
        for i in {1..10}; do sudo systemctl enable redis && break; done
        for i in {1..10}; do sudo systemctl start redis && break; done
        for i in {1..10}; do sudo systemctl status redis && break; done

    - name: 執行 Python 腳本
      run: |
        python3 code/rthk.py

    - name: Redis 狀態
      run: |
        for i in {1..10}; do sudo systemctl status redis && break; done

    - name: 上傳 RSS 文件
      run: |
        git config --global user.email "github-actions@github.com"
        git config --global user.name "github-actions"
        git add *.rss
        git commit -m "Upload RSS file"
        # 在推送之前檢查是否有變更
        git diff --cached --exit-code || (echo "沒有變更可推送" && exit 0)
        git push origin main
